body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.div_meio {
    background-color: rgb(231, 231, 231);
    border-color: black;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    display: block;
    flex-direction: column;
    justify-content: space-around;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    z-index: 0;
}

navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

navbar a:hover {
    background-color: #ddd;
    color: black;
}

table {
    background-color: rgb(231, 231, 231);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000000;
}

td,
th {
    border: 1px solid #000000;
    text-align: center;
    padding: 4px;
}