.div_meio{
    background-color: rgb(231, 231, 231);
    border-color: black;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    display: block;
    flex-direction: column;
    justify-content: space-around;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

table {
    background-color: rgb(231, 231, 231);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000000;
}

td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 4px;
}
